
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(145,0,217,1) 51%, rgba(9,9,121,1) 100%);
}

nav{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(145,0,217,1) 51%, rgba(9,9,121,1) 100%);
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

nav ul{
    float: left;
}

nav ul li{
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.line1{
    border-bottom: 3px solid rgba(0, 0, 0, 0.253);
    display: flex;
    width: 100%;
    position: relative;
}

.heading1{
    font-style: italic;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    position: relative;
    top: 150px;
    text-align: center;
    left: -300px;
}

.paragraph1{
    color: white;
    font-style: italic;
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 200px;
    left: -300px;
}
 
.img1{
    float: right;
    position: relative;
    left: -100px;
    bottom: 30px;

}

.img2{
    position: relative;
    left: 700px;
    top: 0px;
    bottom: 0px;
    animation-name: brain;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes brain{
    0%{
        top: 0;
        bottom: 0;
    }
    25%{
        top: -190px;
        bottom: 190px;
    }
}